/* INFORMATION SECTION */
.information-section .change-password {
  height: 400px;
  width: 400px;
  border-radius: 12px;
  border: 2px solid #0c8a3e;
  margin-left: 325px;
  margin-top: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}
.information-section .change-password h2 {
  color: #0c8a3e;
  text-align: center;
}
.information-section .change-password .fields {
  height: 190px;
  width: 235px;
  margin-left: 20%;
  margin-top: 50px;
}
/* Password fields */

.information-section .change-password .fields .password-fields input {
  width: 230px;
  height: 35px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 2px solid #858585;
  background-color: #ffffff;
  padding-left: 12px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}
/* Change Password Button */
.information-section .change-password .chge-pwd-btn button {
  background-color: #ffffff;
  color: #0c8a3e;
  border: 2px solid #0c8a3e;
  height: 50px;
  width: 250px;
  margin-left: 20%;
  border-radius: 7px;
  font-size: 18px;
  margin-top: 3%;
  font-weight: bold;
}
.information-section .change-password .chge-pwd-btn button:hover {
  background-color: #0c8a3e;
  color: #ffffff;
}
