.toggle-button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  margin-left: 60%;
  margin-top: -7%;
  height: 60px;
  width: 415px;
  background-color: #2196f3;
  border-radius: 12px 12px;
  font-size: 18px;
  font-weight: bold;
}
