/* BODY */
.main_body {
  height: auto;
}
.main_body .contents {
  display: flex;
}
.main_body h1 {
  color: #313131;
  font-size: 30px;
  font-weight: bolder;
}

/* styles.css */

.active-button {
  color: #ffffff;
  background-color: #0c8a3e;
}

/* MENU SECTION */
.main_body .menu-section {
  height: fit-content;
  width: 260px;
  background-color: #f0f0f0;
  border-radius: 0px 12px 12px 0px;
  border-top: 2px solid #313131;
  border-right: 2px solid #313131;
}
.menus-onclick button {
  height: 50px;
  width: 260px;
  border-radius: 0px 12px 0px 0px;
  font-size: 18px;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
}
.menus-offclick button {
  height: 50px;
  width: 260px;
  background-color: #f0f0f0;
  color: #313131;
  font-size: 18px;
  font-weight: lighter;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
}
.menus-offclick button:hover {
  background-color: #a4f7c5;
  color: #000000;
}
.menus-onclick button:hover {
  background-color: #a4f7c5;
  color: #000000;
}
.main_body .menu-section .logout button {
  margin-top: 170px;
  height: 50px;
  width: 260px;
  background-color: #f92323;
  color: #f0f0f0;
  font-size: 18px;
  font-weight: lighter;
  border-left: none;
  border-right: none;
  border-radius: 0px 0px 12px 0px;
  text-align: left;
}

/* INFORMATION SECTION */
.table {
  width: 100%;
}
.table th {
  height: 43px;
  background-color: #0c8a3e;
  border: 2px solid #313131;
  color: #ffffff;
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  width: fit-content;
}

.table td {
  height: 32px;
  border: 1.5px solid #313131;
  background-color: #f0f0f0;
  padding-left: 10px;
  font-size: 14px;
  width: fit-content;
}

.table thead th:first-child {
  border-top-left-radius: 12px;
}

.table thead th:last-child {
  border-top-right-radius: 12px;
}

.not-found {
  text-align: center;
  font-size: xx-large;
  color: darkgray;
}
