/* Body */
.registration_main_body {
  height: 610px;
  width: 1080px;
  display: grid;
  margin-left: 100px;
  grid-template-columns: 50% 50%;
}
.registration_main_body .img-logo {
  background-image: linear-gradient(130deg, #5ef099, #f5ce5b);
  border-radius: 12px 12px 12px 12px;
}
.registration_main_body .img-logo img {
  height: 120px;
  margin-top: 40%;
  margin-left: 20%;
}
.registration_main_body .img-logo h1 {
  font-size: 13px;
  margin-left: 278px;
  margin-top: -20px;
  color: #0a6d32;
  font-weight: bolder;
}

/* CONTENTS */
.registration_main_body .content h1 {
  margin-left: 48%;
  margin-top: 75px;
  font-size: 45px;
  color: #313131;
}
.text-fields {
  height: 60px;
  width: 400px;
  margin-left: 150px;
  padding-left: 12px;
  border-radius: 12px 12px;
  border: 2px solid #8b8b8b;
  display: flex;
  margin-bottom: 12px;
  background-color: #ebebeb;
}
.registration_main_body .content .text-fields img {
  height: 25px;
  margin-top: 16px;
  margin-left: 15px;
}
.registration_main_body .content .text-fields input {
  border: none;
  padding-left: 15px;
  color: #313131;
  font-size: 18px;
  width: 320px;
  outline: none;
  background-color: #ebebeb;
}

.login-button {
  height: 60px;
  width: 405px;
  background-color: #2196f3;
  border-radius: 12px 12px;
  margin-left: 150px;
}
.login-button h2 {
  color: #f0f0f0;
  padding-top: 20px;
  text-align: center;
}
.login-button a {
  margin-left: 295px;
  font-size: 12px;
  color: #9f9f9f;
  font-weight: bold;
  text-decoration: none;
}
