/* BODY */
/* First Information section */
.first-info {
  height: auto;
  width: 100%;
}
.first-info .title-des-section {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 45% 55%;
}
.title-des-section .title {
  margin-left: 40px;
}
.title h1 {
  font-size: 50px;
  margin-top: 1px;
  color: #0a6d32;
}
.title p {
  font-size: 20px;
  width: 100%;
  text-align: justify;
  margin-top: -3%;
}
.image-section img {
  width: 70%;
  border-radius: 12px;
  margin-left: 22%;
}

.coordinator-details {
  height: auto;
  width: 93%;
  background-color: #0a6d32;
  border-radius: 12px;
  margin-left: 40px;
  margin-bottom: 2%;
}
.coordinator-details h2 {
  font-size: 24px;
  margin-left: 3%;
  padding-top: 2%;
  color: #fff;
}
.cord {
  display: flex;
}
.cor-info h3 {
  font-size: 18px;
  color: #fff;
  margin-left: 3%;
  margin-top: 4%;
  width: 100%;
}
.cor-info {
  display: flex;
  margin-left: 3%;
}
.cor-info img {
  width: 19%;
  height: 78%;
}

/* Second Information Section */
.second-info {
  height: auto;
  width: 96%;
  display: flex;
  margin-top: 1%;
}
.second-info img {
  width: 80%;
  margin-top: 20%;
}
.details h2 {
  margin-top: 7%;
  color: #0a6d32;
}
.details p {
  color: #313131;
  margin-top: -5%;
  line-height: 20px;
}
.details button {
  margin-top: -11%;
  margin-bottom: 16px;
  width: 95%;
  height: 30%;
  border: none;
  border-radius: 5px;
  background-color: #3f3f3f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.second-info .extra-info {
  width: 33.33%;
  margin-left: 40px;
  display: grid;
  grid-template-columns: 25% 75%;
}

/* Buttons */
.third-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-top: 2%;
}

.third-info button {
  border-radius: 5px;
  margin-left: 40px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2%;
}
.volunteers {
  color: #c9c9c9;
  border: 2px solid #c9c9c9;
}
.volunteers:hover {
  background-color: #c9c9c9;
  color: #313131;
}
.participants {
  margin-right: 70px;
  border: 2px solid #0a6d32;
  color: #0a6d32;
}
.participants:hover {
  background-color: #0a6d32;
  color: #fff;
}
